@font-face{
	font-family: 'army_rangers';
	src:url('../font/army_rangers/armyrangers.ttf');
	}

@font-face{
	font-family: 'fira_code';
	src:url('../font/fira-code/FiraCode-Medium.otf');
	}
body{
	margin: 0;
	background-color: white;
	font-size: 15px;
	font-family: 'fira_code',Verdana;
	background-image: url('../img/fond_mixte.png');
	overflow: hidden;
	}

body *{
	box-sizing: border-box;
	}


#container {
	height: 60vh;
	overflow: auto;
	width: 50vw;
	max-height: 340vh;
	margin: 25vh 25vw 20vh 25vw;
	padding: 20px;
	background-color: rgba(0,0,0,0.7);
	color: rgb(194,210,1);
	font-size: 2.3vh;
	}

#container h1, h2 {
	text-align: center;

	}

#container li{
	padding: 10px;
}

.logo {
	position: absolute;
    left:50vw;
    top:10px;
    transform: translateX(-50%);
}

  #menu_jouer {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 180px;
  }
  #menu_jouer ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
  }


  /* VISUEL DE 'menu' */
  #menu_jouer li {
     background-color:black; 
     border-radius: 6px;
     margin-bottom:2px;
     border:solid 1px #8cbe22;
  }
  #menu_jouer li li {
     max-height:0;
     overflow: hidden;
     transition: all .5s;
     border-radius:0;
     background: #333;
     box-shadow: none;
     border:none;
     margin:0
  }
  #menu_jouer a {
    display:block;
    text-decoration: none;
    color: #8cbe22;
    padding: 8px 0;
    font-family: "fira_code", Verdana;
    font-size:1.2em
  }
  #menu_jouer ul li a, #menu_jouer li:hover li a {
    font-size:1em
  }
  #menu_jouer li:hover {
     background: rgba(0,0,0,0.7);
  }
  #menu_jouer li li:hover {
     background: rgba(0,0,0,0.7);
  }
  #menu_jouer ul li:last-child {
     border-radius: 0 0 6px 6px;
     border:none;
  }
  #menu_jouer li:hover li {
    max-height: 15em;
  }
  .bloc_menu{
      z-index:10;
      position: fixed;
      top: 10px;
      left: 30px;
      width: 11%;
      margin: 10px 0 0 10px;
  }



@media only screen and (max-width: 961px){
  body{
    margin:0;
    padding: 0;
    box-sizing: border-box;  
    overflow: visible;
    width: 100%;
  }
  #container {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 20px;
    background-color: rgba(0,0,0,0.7);
    color: rgb(194,210,1);
    font-size: 2.7vh;
    position: relative;
    top:250px;
    overflow: hidden;
  }
  #container h1, h2{
    text-align: center;
  }
  .logo{
    position: absolute;
    top: 80px;
  }
  .bloc_menu{
      z-index:10;
      position: fixed;
      top: 10px;
      left: 2px;
      width: 11%;
      margin: 8px 0 0 8px;
  }


}
@media only screen and (max-width: 480px){
  #container {
    width: 90%;
    font-size: 3vh;
    overflow: auto;
  }
  ul, ol, p{
    list-style: none;
    text-align: center;
  }


}