@font-face
		{
			font-family: 'army_rangers';
			src:url('../font/army_rangers/armyrangers.ttf');
		}

@font-face
{
	font-family: 'fira_code';
	src:url('../font/fira-code/FiraCode-Medium.otf');
}

@font-face
{
	font-family: 'godzilla';
	src:url('../font/army_rangers/Godzilla.ttf');
}

.theme{
	background-image: url("../img/fond_mixte.png");
}

body, a, a:visited{
	color:white;
}

h1{
	text-align: center;
	font-family: 'godzilla';
}


#conteneur{
	display: flex;
	flex-direction: row;
	width: 100%;
}
#menu{
	text-align: center;
	width: 30%;
	height: 100%;
	font-family: 'godzilla';
	font-size: 30px;
	background-color: rgba(0, 0, 0, 0.80);
}

.affichageCarte{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	width: 70%;
}

.mesGabarits{
	margin: 0.5px 10px;
}

.mesGabarits img{
	width: 150px;
}

.PuissanceCarteSortCreature{
	position: relative;
	z-index: 3;
	font-family: 'army_rangers';
	top: -167px;
	left:-105px;
}

.PuissanceCarteSpeciale{
	position: relative;
	z-index: 3;
	font-family: 'army_rangers';
	top: -180px;
	left:-132px;
}

.ManaSortOuVitaCreature{
	position: relative;
	z-index: 3;
	font-family: 'army_rangers';
	top: -142px;
	left:-129px;
}

.VitaCarteSpeciale{
	position: relative;
	z-index: 3;
	font-family: 'army_rangers';
	top: -155px;
	left:-139px;
}

.ManaCarteCreature{
	position: relative;
	z-index: 3;
	font-family: 'army_rangers';
	top: -112px;
	left:-144px;
}
.ManaCarteSpeciale{
	position: relative;
	z-index: 3;
	font-family: 'army_rangers';
	top: -132px;
	left:-144px;
}

