		
		@font-face
		{
			font-family: 'fira_code';
			src:url('../font/fira-code/FiraCode-Medium.otf');
		}

		body
		{
			margin: 0;
			overflow: hidden;
			background-color: white;
			font-size: 15px;
			font-family: 'fira_code',Verdana;
		}

		body *
		{
			box-sizing: border-box;
		}
		
		a
		{
			text-decoration: none;
		}
/****************************** Background ******************************/

		.haut_bas
		{
			width: 10000px;
			height: 10000px;
			position: absolute;	
			overflow: hidden;	
			background-clip: padding-box;	
			z-index: 0;
		}
		#haut
		{
			background-color: lightgreen;
			transform-origin: 0 100%;
			bottom: 0;		
			left: 0;
			border-bottom: 1vh solid white;
		}
		#bas
		{
			background-color: lightblue;
			transform-origin: 100% 0;
			top: 0;
			right: 0;
			border-top: 1vh solid white;
			
		}
		#imageHaut
		{
			position: absolute;
			bottom: 0;
			left: 0;
			transform-origin: 0 100%;
		}
		#imageBas
		{
			position: absolute;
			top: 0;
			right: 0;
			transform-origin: 100% 0;
		}

/****************************** Boutons et logo ******************************/
		
		header
		{
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			z-index: 1;
			text-align: center;
		}

		.btn
		{
			margin: 2vh auto;
			color: white;
			width: 10vw;
			min-width: 200px;
			border: solid 1px white;
			padding: 1vh;
			font-size: 1.5em;
			cursor: pointer;
			background-color: rgba(0,0,0,0.7);
		}

		.confirmation .btn
		{
			font-size: 1em;
			margin-bottom: 0;
		}
		
		#logoNeozorus
		{
			width: 30vw;
			min-width: 390px;
		}

/****************************** Cadres et Formulaires ******************************/

		.connexion-inscription, form, .confirmation
		{
			margin: 50vh auto 0 auto;
			width: 30vw;
			min-width: 500px;
			max-height: 70vh;
			overflow: auto;
			padding: 5vh;
			transform: translateY(-50%);
			text-align: center;
			background-color: rgba(0,0,0,0.7);
			color: white;
		}

		input
		{
			display: block;
			margin: 10px auto;
		}

		#inscription input[name$="nom"], #inscription input[name$="mail"], #inscription input[name$="mdp"]
		{
			display: inline-block;
			width: 30%;
		}

		#inscription input[name="date_naissance"], #inscription input[name="question"], #inscription input[name$="reponse"] 
		{
			width: 60%;
		}
	
		#inscription label
		{
			color: white;
			margin: 10px;
		}
		
		#inscription input[type="checkbox"]
		{
			display: inline-block;
		}

		.back
		{
			height: 0px;
			width: 0px;
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-bottom: 20px solid white;
			transform: rotate(-90deg);
		}
		.error
		{
			width: 20vw;
			min-width: 300px;
			background-color: rgb(200,100,100);
			text-align: center;
			position: absolute;
			bottom: 10vh;
			left: 50vw;
			transform: translateX(-50%);

		}


/****************************** Responsive ******************************/


		@media (max-width: 600px)
		{
			#logoNeozorus
			{
				width: 70%;
				min-width: 250px;
			}
			.connexion-inscription, form, .confirmation
			{
				width: 100vw;
				min-width: 0px;
				padding: 5vh 0;
			}
			form label
			{
				font-size: 0.8em;
			}
		}

		@media (max-height: 700px)
		{
			#inscription
			{
				margin-top: 60vh;
			}
		}

		@media (max-height: 400px){
			#logoNeozorus
			{
				width: 250px;
				min-width: 250px; 
			}
		}
