/***************** Common *******************/

@font-face
{
	font-family: 'fira-code';
	src:url('../font/fira-code/FiraCode-Medium.otf');
}
@font-face
{
	font-family: 'army_rangers';
	src:url('../font/army_rangers/armyrangers.ttf');
}
@font-face
{
	font-family: 'godzilla';
	src:url('../font/godzilla/Godzilla.ttf');
}

body 
{
	/*position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;*/
	margin: 0;
	background-image: url('../img/plateau/plateau_alt.png');
	background-size: 100vw 100vh;
	font-size: 15px;
	overflow: hidden;
	/*position:fixed;
	top:0px;
	width:100%;
	height:100%;*/
}

body *
{
	box-sizing: border-box;
}

a
{
	text-decoration: none;
}

/*.message{
	margin:0px;
	position: fixed;
	top:15px;
	left:30px;
	font-family: 'fira-code';
	font-size: 25px;
	color:white;
	background-color: rgba(0, 0, 0, 0.7);
}*/

.error, .message
{
	position: absolute;
	right: 25vw;
	top: 0;
	z-index: 50;
	transform: translateX(50%);
	padding: 10px;
	font-family: 'godzilla';
	font-size: 25px;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
}
.message
{
	font-family: 'fira-code';
	/*border: 1px solid white;*/
	border-radius: 5px;
}
.endGame
{
	display: block;
	position: absolute;
	top: 50vh;
	left: 0;
	z-index: 50;
	transform: translateY(-100%);
	font-family: 'godzilla';
	font-size: 3em;
	padding: 50px;
	width: 100vw;
	text-align: center;
	animation: endGame;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

/****************** Historique ********************/

#historique
{
	position: absolute;
	top: 1vh;
	left: 2vw;
	width: 40vw;
	height: 10vh;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: hidden;
	border: 1px solid white;
	border-radius: 5px;
}
#events
{
	position: absolute;
	top: 0;
	right: 0;
	width: 5000vw;
	height: 10vh;
	padding: 1vh;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
}
.event
{
	position: relative;
	display: inline-block;
	height: 8vh;
	width: 8vh;
	border-radius: 5px;
	background-color: white;
	margin: 0 2px;
}
.event span
{
	font-family: godzilla, Verdana;
	font-size: 4vh;
	position: absolute;
	bottom: 0%;
	right: 0%;
	line-height: 3vh;
	text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
}
.event img.sort
{
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 4vh;
	margin: 1px;
}
.event img.skull
{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 4vh;
	margin: 1px;
}
.eActif
{
	border: 2px solid rgb(120,189,222);
	color: rgb(120,189,222);
}
.ePassif
{
	border: 2px solid rgb(195,10,48);
	color: rgb(195,10,48);
}
.eventBox
{
	display: none;
	position: absolute;
	z-index: 5;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 20px;
	border-radius: 5px;
	color: white;
	text-align: center;
	white-space: nowrap;
}
.eventBox:after
{
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgba(0, 0, 0, 0.7);
	border-width: 30px;
	margin-left: -30px;
}
.eventBox p
{
	font-family: 'fira-code',Verdana;
}
.eventBox .carte, .eventBox .carte + p, .eventBox .Heros, .eventBox .carte + img
{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: 0;
	left: 0;
	transform: none;
}
.eventBox .carte + img
{
	width: 60px;
	margin: 0 10px;
}
.eventBox .carte + p
{
	
	font-family: godzilla, Verdana;
	font-size: 2em;
	margin: 0 10px;
}
.eventBox img.skull
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 75%;
	/*margin: 1px;*/
	transform: translate(-50%,-50%);
	z-index: 5;
}
/*********** Héros ***********/

.Heros
{
	width:155px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.Heros img
{
	width: 100%
}
.Heros .pv
{
	z-index: 10;
	position: absolute;
	color: white;
	font-family: 'Godzilla';
	font-size: 21px;
	top:45px;
	left:29px;
}
#topHeros
{
	top: 1%;	
}
#bottomHeros{
	bottom: 9%;
}
#bottomHeros p
{
	position: absolute;
	bottom: -5px;
	left:50%;
	transform: translateX(-50%);
	width: 130px;
	text-align: center;
	font-family: "fira-code", Verdana;
	color: #8cbe22;
	background-color: rgb(0,10,0);
	padding: 5px;
	border-radius: 5px;
}

/*DIV MANA+CREATURE */

/*#blocCentral{
	position: fixed;
	top: 21.2%;
	left: 0.6%;
	width: 98.5%;
	height: 49%;
}*/

/*MANA*/

#manaLeft{
	position: fixed;
	top:22%;
	left:2%;
	height: 47%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.pilluleBleu{
	position: relative;
	width: 25px;
	height: 37px;
	/*margin-top: 25%;*/
}

#manaRight{
	position: fixed;
	top:22%;
	right:2%;
	height: 47%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.pilluleRouge{
	position: relative;
	width: 25px;
	height: 37px;
	/*margin-bottom: 25%;*/
}

/*DIV DES CREATURES*/

/*#creatureBox{
	position: fixed;
	top: 21.2%;
	right: 5%;
	width: 90%;
	height: 49%;
}
#topCreature,#bottomCreature{
	width: 100%;
	height: 49%;
}*/

/*DIV DES CREATURES ADVERSES*/

 /*#topCreature{
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
}*/

/*DIV DES CREATURES DU JOUEUR*/

/*#bottomCreature{
	position: absolute;
	bottom:0;
	display: flex;
	flex-direction: row;
	justify-content: center;
} */


/************************************ Plateau *****************************************/

#plateau
{
	position: absolute;
	top: 21vh;
	left: 5vw;
	height: 50vh;
	width: 90vw;
	/*cursor: url(../img/cursor/cursorTarget.png), auto;*/
}
#topPlateau, #bottomPlateau
{
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/************************* Cartes du plateau *****************************/

.carte
{
	position: relative;	/* pour positionner les stats */
	display: block;
	width: 120px;
	margin: 0 1%;
}
/*.carte img:hover
{
	outline: 1px solid white;
}*/

.carte img
{
	width: 100%;
}

.carte span, .zoom span
{
	position: absolute;
	z-index:1;
	color:white;
	font-family: 'godzilla', Verdana;
	font-size: 0.9em;
}

.carte .indice{
	position: absolute;
	background-color: white;
	width:8px;
  	height:8px;
	border-radius: 50%;
	z-index: 1;
	right: 3px;
	top: 20px;	
}

.carte .indice span{
	position: relative;
	top: -8px;
	left: 1px;
	color: black;
	font-size: 8px;
	font-family: 'fira-code';
}

.carte .puissance
{
	top:23px;
	left:39px;
}
.carte.creature .pv, .carteMain.sort .mana ,.carte.sort .mana
{
	top:43px;
	left: 25px;
}
.carte.creature .mana
{
	top:67px;
	left:20px;
}
.carte.speciale span
{
	left:18px;
}
.carte.speciale .puissance
{
	top:12px;
}
.carte.speciale .pv
{
	top:32px;
}
.carte.speciale .mana
{
	top:51px;
}
.zoom span
{
	/*font-size: 1.3rem;*/
	font-size: 20px;
}

.zoom.creature span.puissance, .zoom.sort span.puissance
{
	top: 40px;
	left: 65px;
}
.zoom.creature span.pv, .zoom.sort span.manaCost
{
	top: 72px;
	left: 41px;
}
.zoom.creature span.manaCost
{
	top: 112px;
	left: 32px;
}
.zoom.speciale span
{
	left: 30px;
}
.zoom.speciale span.pv
{
	top: 22px;
}
.zoom.speciale span.puissance
{
	top: 54px;
}
.zoom.speciale span.manaCost
{
	top: 86px;
}
.zoom .indice{
	position: absolute;
	background-color: white;
	width:10px;
  	height:10px;
	border-radius: 50%;
	z-index: 1;
	right: 10px;
	top: 35px;	
}

.zoom .indice span{
	position: relative;
	top: -6px;
	left: 1px;
	color: black;
	font-size: 10px;
	font-family: 'fira-code';
}

/*********************** animations cartes *************************/

.sommeil
{
	font-family: godzilla, Verdana;
	color: rgb(50,50,50);
	text-shadow: white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px;
	animation: sleep;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.carte span.damage, #topHeros span.damage
{
	position: absolute;
	font-family: godzilla, Verdana;
	color: red;
	text-shadow: black 0px 0px 2px, black 0px 0px 2px, black 0px 0px 2px, black 0px 0px 2px;
	font-size: 1.2em;
}

/*************************** Pioche et défausse ****************************/

#piocheBottom{
	position: absolute;
	left: 5vw;
	bottom: 10%;
}
#piocheBottom img{
	height: 19vh;
}
#piocheBottom p{
	margin: 0;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	font-family: 'army_rangers', Verdana;
	font-size: 5vh;
	color: #01222C;
}

#defausseBottom{
	position: absolute;
	right: 5vw;
	bottom: 10%;
}
#defausseBottom img{
	height: 19vh;
}

/**************************** Barre de contrôle *****************************/

#actionBar
{
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#quitter{
	flex: 1;
	text-align: center;
	
}

#quitter a
{
	color: #8cbe22;
	font-family: 'fira-code', Verdana;
  	background-color: rgba(0, 0, 0, 0.6);
  	padding: 10px 15px;
  	border: solid #8cbe22 2px;
  	border-radius: 6px;
}

#quitter a:hover{
	color: white;
	border-color: white;
}

#end
{
	flex: 1;
	text-align: center;
}
#end img
{
	height: 8vh;
}

#end .anim:hover
{
	animation: oscillate_5;
	animation-duration: 0.5s;
}

#main
{
	flex: 8;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;

}

/**************************** Main *****************************/

.carteMain  
{
	position: relative;	/* pour positionner les stats */
	top: 40px;
	display: block;
	width: 100px;
	margin: 0 1%;
}

.carteMain img
{
	width: 100%;
}

.carteMain span
{
	position: absolute;
	z-index:10;
	color:white;
	font-family: 'Godzilla';
	font-size: 0.8em;
}

.carteMain .puissance
{
	top:19px;
	left:32px;
}
.carteMain.creature .pv, .carteMain.sort .mana
{
	top:35px;
	left: 20px;
}
.carteMain.creature .mana
{
	top:56px;
	left:15px;
}
.carteMain.speciale span
{
	left:14px;
}
.carteMain.speciale .puissance
{
	top:10px;
}
.carteMain.speciale .pv
{
	top:27px;
}
.carteMain.speciale .mana
{
	top:44px;
}

#infoBox{
	text-align: center;
	z-index: 3;
	white-space: nowrap;
}
.libelle{
	font-weight: bold;
}
.abilite{
	font-size: 80%;
	font-style: italic;
	color: lightgreen;
}

/**************************** Animation *****************************/

@keyframes oscillate_5
{
  0%
  {
    transform: rotate(0deg);
  }
  25%
  {
    transform: rotate(5deg);
  }
  75%
  {
    transform: rotate(-5deg);
  }
  100%
  {
     transform: rotate(0deg);
  }
}

@keyframes sleep
{
	0%
	{
		font-size: 1em;
		transform: translate(0,0);
	}
	50%
	{
		font-size: 1.5em;
		transform: translate(15px,-15px);
	}
	100%
	{
		font-size: 2em;
		transform: translate(20px,-30px);
	}
}

@keyframes endGame
{
	0%
	{
		transform: translate(-100%,-100%);
	}
	100%
	{
		transform: translate(0,-100%);
	}
}

/* Responsive */


@media (max-width: 1400px), (max-height: 900px)
{
	#topHeros,#bottomHeros{
		width:120px;
		/*height: 150px;*/
		/*overflow: hidden;*/
	}
	#bottomHeros p{
		font-size: 13px;
		width: 110px;
	}
	#topHeros .pv, #bottomHeros .pv{
		font-size: 1.1em;
		top:33px;
		left:21px;
	}
	.carte img{
		/*width: 120px;*/
		}
	.stat1,.stat2,.stat3,.stat1Speciale,.stat2Speciale,.stat3Speciale{
		font-size: 16px;
	}
	.stat1{
		top:22px;
		left: 38px;
	}
	.stat2{
		top:42px;
		left:24px;
	}
	.stat3{
		top:65px;
		left: 18px;
	}

	.stat1Speciale{
		top:11px;
		left: 17px;
	}
	.stat2Speciale{
		top:31px;
		left: 17px;
	}
	.stat3Speciale{
		top:50px;
		left: 17px;
	}
	/*.indice{
		top: 22px;
		left: 108px;
	}
	.indice span{
		position: absolute;
		font-size: 8px;
		font-family: 'fira-code';
		top: 1px;
		left:2px;*/
	}
}

@media (max-height: 700px){
	.pilluleBleu img, .pilluleRouge img{
		height: 25px;
		}
}





