/*FONTS */

@font-face
{
	font-family: 'fira-code';
	src:url('../font/fira-code/FiraCode-Medium.otf');
}
@font-face
{
	font-family: 'army_rangers';
	src:url('../font/army_rangers/armyrangers.ttf');
}
@font-face
{
	font-family: 'godzilla';
	src:url('../font/godzilla/Godzilla.ttf');
}

/*ARRIERE PLAN DU PLATEAU*/

body {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	position:fixed;
	top:0px;
	width:100%;
	height:100%;
}

.message{
	margin:0px;
	position: fixed;
	top:15px;
	left:30px;
	font-family: 'fira-code';
	font-size: 25px;
	color:white;
	background-color: rgba(0, 0, 0, 0.7);
}

.error {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
	font-family: 'godzilla';
	font-size: 25px;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
}



#plateau{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -10;
}

/*HEROS*/

#topHero,#bottomHero{
	/*width: 8%;*/
	/*height: 17.9%;*/
	width:155px;
	height: 180px;
}
#topHero{
	position: fixed;
	top: 1.5%;
	left: 50%;
	transform: translateX(-50%);
	
}
#topHero img{
	width: 100%
}

#bottomHero{
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10%;
}

#bottomHero img{
	width: 100%
}

.vitaHero{
	z-index: 10;
	position: absolute;
	color: white;
	font-family: 'Godzilla';
	font-size: 21px;
	top:45px;
	left:29px;
}

/*DIV MANA+CREATURE */

#blocCentral{
	position: fixed;
	top: 21.2%;
	left: 0.6%;
	width: 98.5%;
	height: 49%;
}

/*MANA*/

#manaLeft{
	position: fixed;
	top:24%;
	left:2%;
}

#pilluleBleu{
	position: relative;
	width: 25px;
	height: 37px;
	margin-bottom: 25%;
}

#manaRight{
	position: fixed;
	top:24%;
	right:2%;
}

#pilluleRouge{
	position: relative;
	width: 25px;
	height: 37px;
	margin-bottom: 25%;
}

/*DIV DES CREATURES*/

#creatureBox{
	position: fixed;
	top: 21.2%;
	right: 5%;
	width: 90%;
	height: 49%;
}
#topCreature,#bottomCreature{
	width: 100%;
	height: 49%;
}

/*DIV DES CREATURES ADVERSES*/

 #topCreature{
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/*DIV DES CREATURES DU JOUEUR*/

#bottomCreature{
	position: absolute;
	bottom:0;
	display: flex;
	flex-direction: row;
	justify-content: center;
} 
/*POUR GERER LES CARTES*/
.carte  {
	position: relative;
	width: 10%;
	text-align: center;
}
.carte img{
	height: 100%;
}

.stat1,.stat2,.stat3,.stat1Speciale,.stat2Speciale,.stat3Speciale{
	position: absolute;
	z-index:10;
	color:white;
	font-family: 'Godzilla';
	font-size: 20px;
}

.stat1{
	top:34px;
	left: 57px;
}
.stat2{
	top:61px;
	left:37px;
}
.stat3{
	top:95px;
	left: 30px;
}

.stat1Speciale{
	top:18px;
	left: 27px;
}
.stat2Speciale{
	top:45px;
	left: 27px;
}
.stat3Speciale{
	top:73px;
	left: 27px;
}

.indice{
	position: absolute;
	background-color: white;
	width:10px;
  	height:10px;
	border-radius: 50%;
	z-index: 10;
	left: 153px;
	top: 28px;
}

.indice span{
	position: absolute;
	font-size: 10px;
	font-family: 'fira-code';
	left:1px;
}

/*LA MAIN*/
#main{
	position: fixed;
	bottom:0px;
	left:9%;
	height: 9.5%;
	margin: auto;
	width: 82%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.carteMain  {
	position: relative;
	width: 130px;
	overflow: hidden;
}
.carteMain:hover{
	position: relative;
	top: -10px;
}
.carteMain img{
	width: 100%;
	max-width: 80%;
	text-align: center; 
}

.stat1Miniature,.stat2Miniature,.stat3Miniature,.stat1MiniatureSpeciale,.stat2MiniatureSpeciale,.stat3MiniatureSpeciale{
	position: absolute;
	z-index:10;
	color:white;
	font-family: 'Godzilla';
	font-size: 11px;
}

.stat1Miniature{
	top:20px;
	left:33px;
}
.stat2Miniature{
	top:37px;
	left: 22px;
}
.stat3Miniature{
	top:58px;
	left:16px;
}

.stat1MiniatureSpeciale{
	top:9px;
	left:14px;
}
.stat2MiniatureSpeciale{
	top:23px;
	left: 14px;
}
.stat3MiniatureSpeciale{
	top:37px;
	left:14px;
}

/*BOUTTON PASSER LE TOUR*/

#end{
	position: fixed;
	right: 2.2%;
	bottom: 3.3%;
}
/*BOUTTON QUITER*/
#quitter{
	position: fixed;
	bottom: 30px;
}
#quitter a{
	color:white;
	font-family: 'fira-code';
	text-decoration: none;
	position: relative;
	left:25px;
}

#mask{
	position: relative;
	background-color: #01222C;
	top:15px;
	left:15px;
	width: 75px;
	height: 75px;
	z-index: 100;
}




