/***************** Common *******************/

@font-face
{
	font-family: 'fira-code';
	src:url('../font/fira-code/FiraCode-Medium.otf');
}
@font-face
{
	font-family: 'army_rangers';
	src:url('../font/army_rangers/armyrangers.ttf');
}
@font-face
{
	font-family: 'godzilla';
	src:url('../font/godzilla/Godzilla.ttf');
}

body 
{
	/*position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;*/
	margin: 0;
	background-image: url('../img/plateau/plateau_alt.png');
	background-size: 100vw 100vh;
	font-size: 15px;
	overflow: hidden;
	/*position:fixed;
	top:0px;
	width:100%;
	height:100%;*/
}

body *
{
	box-sizing: border-box;
}

a
{
	text-decoration: none;
}

.message{
	margin:0px;
	position: fixed;
	top:15px;
	left:30px;
	font-family: 'fira-code';
	font-size: 25px;
	color:white;
	background-color: rgba(0, 0, 0, 0.7);
}

.error {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
	font-family: 'godzilla';
	font-size: 25px;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
}



/*#plateau{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -10;
}*/

/*********** Héros ***********/

#topHero,#bottomHero
{
	/*width: 8%;*/
	/*height: 17.9%;*/
	width:155px;
	/*height: 180px;*/
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
#topHero
{
	/*position: absolute;*/
	top: 1%;
/*	left: 50%;
	transform: translateX(-50%);*/
	
}
#topHero img, #bottomHero img
{
	width: 100%
}

#bottomHero{
	/*position: fixed;*/
/*	left: 50%;
	transform: translateX(-50%);*/
	bottom: 9%;
}

/*#bottomHero img{
	width: 100%
}*/

#bottomHero p
{
	position: absolute;
	bottom: -5px;
	left:50%;
	transform: translateX(-50%);
	width: 130px;
	text-align: center;
	font-family: "fira-code", Verdana;
	color: #8cbe22;
	background-color: rgb(0,10,0);
	padding: 5px;
	border-radius: 5px;
}

.vitaHeros{
	z-index: 10;
	position: absolute;
	color: white;
	font-family: 'Godzilla';
	font-size: 21px;
	top:45px;
	left:29px;
}

/*DIV MANA+CREATURE */

#blocCentral{
	position: fixed;
	top: 21.2%;
	left: 0.6%;
	width: 98.5%;
	height: 49%;
}

/*MANA*/

#manaLeft{
	position: fixed;
	top:22%;
	left:2%;
	height: 47%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.pilluleBleu{
	position: relative;
	width: 25px;
	height: 37px;
	/*margin-top: 25%;*/
}

#manaRight{
	position: fixed;
	top:22%;
	right:2%;
	height: 47%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.pilluleRouge{
	position: relative;
	width: 25px;
	height: 37px;
	/*margin-bottom: 25%;*/
}

/*DIV DES CREATURES*/

#creatureBox{
	position: fixed;
	top: 21.2%;
	right: 5%;
	width: 90%;
	height: 49%;
}
#topCreature,#bottomCreature{
	width: 100%;
	height: 49%;
}

/*DIV DES CREATURES ADVERSES*/

 #topCreature{
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/*DIV DES CREATURES DU JOUEUR*/

#bottomCreature{
	position: absolute;
	bottom:0;
	display: flex;
	flex-direction: row;
	justify-content: center;
} 
/*POUR GERER LES CARTES*/
.carte  {
	position: relative;
	width: 10%;
	text-align: center;
}
.carte img{
	/*height: 100%;*/
	width: 170px;
}

.stat1,.stat2,.stat3,.stat1Speciale,.stat2Speciale,.stat3Speciale{
	position: absolute;
	z-index:10;
	color:white;
	font-family: 'Godzilla';
	font-size: 20px;
}

.stat1{
	top:34px;
	left: 57px;
}
.stat2{
	top:61px;
	left:37px;
}
.stat3{
	top:95px;
	left: 30px;
}

.stat1Speciale{
	top:18px;
	left: 27px;
}
.stat2Speciale{
	top:45px;
	left: 27px;
}
.stat3Speciale{
	top:73px;
	left: 27px;
}

.indice{
	position: absolute;
	background-color: white;
	width:10px;
  	height:10px;
	border-radius: 50%;
	z-index: 10;
	left: 156px;
	/*right: 5px;*/
	top: 30px;
}

.indice span{
	position: absolute;
	font-size: 10px;
	font-family: 'fira-code';
	left:1px;
}

/* LA PIOCHE */
#piocheBottom{
	position: absolute;
	left: 5vw;
	bottom: 10%;
	/*background-color: #01222C;*/
	/*border-radius: 5px;*/
	/*padding: 1px;*/
}
#piocheBottom img{
	height: 19vh;
}
#piocheBottom p{
	margin: 0;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	font-family: 'army_rangers', Verdana;
	font-size: 5vh;
	color: #01222C;
}

/* LA DEFAUSSE */
#defausseBottom{
	position: absolute;
	right: 5vw;
	bottom: 10%;
}
#defausseBottom img{
	height: 19vh;
}




/**************************** Barre de contrôle *****************************/

#actionBar
{
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#quitter{
/*	position: fixed;
	bottom: 30px;*/
	flex: 1;
	/*position: relative;*/
	/*left:25px;*/
	text-align: center;
	
}

#quitter a
{
	color: #8cbe22;
  	/*font-size: 1em;*/
	font-family: 'fira-code', Verdana;
	/*text-decoration: none;*/
  	background-color: rgba(0, 0, 0, 0.6);
  	padding: 10px 15px;
  	border: solid #8cbe22 2px;
  	border-radius: 6px;
}

#quitter a:hover{
	color: white;
	border-color: white;
}

#end
{
/*	position: fixed;
	right: 2.2%;
	bottom: 3.3%;*/
	flex: 1;
	text-align: center;
}
#end img
{
	height: 8vh;
}

#end .anim:hover
{
	animation: oscillate_5;
	animation-duration: 0.5s;
}

#main
{
	flex: 8;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;

}

/**************************** Main *****************************/

.carteMain  
{
	position: relative;	/* pour positionner les stats */
	top: 40px;
	display: block;
	width: 100px;
	margin: 0 1%;
	/*overflow: hidden;*/
}

.carteMain img
{
	width: 100%;
	/*max-width: 80%;*/
	/*text-align: center; */
}
/*.carteJouable{
	border-radius: 17px;
	box-shadow: -1px 1px 19px 7px rgba(255,30,5,0.9);
}
*/
.carteMain span, .zoomMain span
{
	position: absolute;
	z-index:10;
	color:white;
	font-family: 'Godzilla';
	font-size: 0.8em;
}

.carteMain .puissance
{
	top:19px;
	left:32px;
}
.carteMain.creature .pv, .carteMain.sort .mana
{
	top:35px;
	left: 20px;
}
.carteMain.creature .mana
{
	top:56px;
	left:15px;
}
.carteMain.speciale span
{
	left:14px;
}
.carteMain.speciale .puissance
{
	top:10px;
}
.carteMain.speciale .pv
{
	top:27px;
}
.carteMain.speciale .mana
{
	top:44px;
}
.zoomMain span
{
	/*font-size: 1.3rem;*/
	font-size: 20px;
}

.zoomMain.creature span.pv, .zoomMain.sort span.puissance
{
	top: 40px;
	left: 65px;
}
.zoomMain.creature span.puissance, .zoomMain.sort span.manaCost
{
	top: 72px;
	left: 41px;
}
.zoomMain.creature span.manaCost
{
	top: 112px;
	left: 32px;
}
.zoomMain.speciale span
{
	left: 30px;
}
.zoomMain.speciale span.pv
{
	top: 22px;
}
.zoomMain.speciale span.puissance
{
	top: 54px;
}
.zoomMain.speciale span.manaCost
{
	top: 86px;
}

/*#infoBox{
	text-align: center;
}*/
/*.libelle{
	font-weight: bold;
}
.abilite{
	font-size: 80%;
	font-style: italic;
	color: lightgreen;
}*/
/*#mask{
	position: relative;
	background-color: #01222C;
	top:15px;
	left:15px;
	width: 75px;
	height: 75px;
	z-index: 100;
}*/

/**************************** Animation *****************************/

@keyframes oscillate_5
{
  0%
  {
    transform: rotate(0deg);
  }
  25%
  {
    transform: rotate(5deg);
  }
  75%
  {
    transform: rotate(-5deg);
  }
  100%
  {
     transform: rotate(0deg);
  }
}

/* Responsive */


@media (max-width: 1400px), (max-height: 900px)
{
	#topHero,#bottomHero{
		width:120px;
		/*height: 150px;*/
		/*overflow: hidden;*/
	}
	#bottomHero p{
		font-size: 13px;
		width: 110px;
	}
	.vitaHeros{
		/*z-index: 10;
		position: absolute;
		color: white;
		font-family: 'Godzilla';*/
		/*font-size: 21px;*/
		font-size: 1.1em;
		top:33px;
		left:21px;
	}
	.carte img{
		width: 120px;
		}
	.stat1,.stat2,.stat3,.stat1Speciale,.stat2Speciale,.stat3Speciale{
		font-size: 16px;
	}
	.stat1{
		top:22px;
		left: 38px;
	}
	.stat2{
		top:42px;
		left:24px;
	}
	.stat3{
		top:65px;
		left: 18px;
	}

	.stat1Speciale{
		top:11px;
		left: 17px;
	}
	.stat2Speciale{
		top:31px;
		left: 17px;
	}
	.stat3Speciale{
		top:50px;
		left: 17px;
	}
	.indice{
		top: 22px;
		left: 108px;
	}
	.indice span{
		position: absolute;
		font-size: 8px;
		font-family: 'fira-code';
		top: 1px;
		left:2px;
	}
}

@media (max-height: 700px){
	.pilluleBleu img, .pilluleRouge img{
		height: 25px;
		}
}





