/*****************************************Common**************************************/
@font-face
{
	font-family: 'army_rangers';
	src:url('../font/army_rangers/armyrangers.ttf');
}

@font-face
{
	font-family: 'fira_code';
	src:url('../font/fira-code/FiraCode-Medium.otf');
}
@font-face
{
	font-family: 'fira_code';
	src:url('../font/fira-code/FiraCode-Bold.otf');
}

@font-face
{
	font-family: 'godzilla';
	src:url('../font/godzilla/Godzilla.ttf');
}

body
{
  margin: 0;
  overflow: hidden;
  background-image: url('../img/fond_mixte.png');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  font-size: 15px;
  font-family: 'fira_code', Verdana;
  color: white;
}

body *
{
  box-sizing: border-box;
}

p
{
  margin: 0;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main
{
	height: 100vh;
	animation: fadeIn;
	animation-duration: 2s;
}

/*************************Header***************************/

header
{
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  animation: slideDown;
  animation-duration: 2s;
}

header h1, header nav
{
	position: absolute;
	top: 20px;
	width: 20vw;
	min-width: 250px;
	z-index: 1;
}
header h1
{
  right: 20px;
  font-size: 1.2rem;
  margin: 0;
}

header nav
{
  left: 20px;
  cursor: pointer;
}

header h1, header nav
{
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
  color: rgb(194,210,1); 
}

#logoNeozorus
{
  position: relative;
  height: 100px;
  z-index: 1;
}

/****************************** Règles ******************************/

article
{
  position: absolute;
  top: 55vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  width: 80vw;
  max-height: 70vh;
  overflow: auto;
  padding: 50px;
  text-align: left;
  background-color: rgba(0,0,0,0.7);
  color: rgb(194,210,1);
  font-size: 1.2em;
  
}
article ul
{
  margin: 20px;
  list-style-type: circle;
}

/****************************** Paramètres ******************************/

#parameters article
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#parameters article section
{
	width: 45%;
}
#parameters h3
{
	text-transform: uppercase;
	font-weight: bold;
	margin: 10px 0;
}

#parameters h4
{
	text-transform: uppercase;
	font-weight: normal;
	margin: 10px 0;
}
#parameters p
{
	text-indent: 20px;
}
#parameters p span
{
	font-size: 0.8em;
}
#parameters p span a
{
	color: rgb(1,194,210);
	cursor: pointer;
}
#parameters p span a:hover
{
	color: rgb(210,1,194);
}
#parameters select
{
	margin-left: 20px;
}

/*************************************Filtres*****************************************/

#filter
{
	position: absolute;
	bottom: 5vh;
	right: 20px;
	width: 20vw;
	height: 75vh;
	font-family: 'godzilla';
	font-size: 1rem;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.btn
{
	color: white;
	width: 50%;
	min-width: 120px;
	border: solid 4px white;
	border-radius: 10vh;
	padding: 1vh;
	margin: 10px auto;
	font-family: 'army_rangers',Verdana;
	font-size: 1.2em;
	cursor: pointer;
	transition: hover 1s;
	background-color: rgb(50,50,50);
	border-color: rgb(200,200,200);
	color: rgb(200,200,200);
}
.btn.selected
{
	color: white;
	border-color: white;
}
#btnDinos.selected
{
  background-color: #d80c0f;
}
#btnMatrix.selected
{
  background-color: #005b7f;
}
.btn:hover
{
	animation: oscillate_3;
	animation-duration: 0.5s;
}
.btn:active
{
	background-color: white;
	color: white;
	border-color: white;
}

#type img
{
	width: 3.5vw;
	height: 3.5vw;
	min-width: 40px;
	min-height: 40px;
	margin: 10px;
}
#type img:hover
{
	animation: oscillate_5;
	animation-duration: 0.5s;
}

#type, #mana 
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
#mana img
{
	width: 20px;
}
#mana li:hover img
{
	animation: oscillate_10;
	animation-duration: 0.5s;
}

/***************************************Cartes***************************************/

#cartes
{
	position: absolute;
	bottom: 5vh;
	left: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	width: 75%;
	height: 75vh;
	overflow: auto;
	padding: 10px;
}

.carte
{
	display: inline-block;
	width: 150px;
	margin: 10px;
	position: relative;
}

.carte img:hover
{
	outline: 1px solid;
}

.carte img
{
	max-width: 100%;
}

.carte span, .zoom span, .zoom_200 span
{
	position: absolute;
	font-family: godzilla, Verdana;
	z-index: 1;
}

.carte.creature span.pv, .carte.sort span.puissance
{
	top: 29px;
	left: 49px;
}
.carte.creature span.puissance, .carte.sort span.manaCost
{
	top: 54px;
	left: 31px;
}
.carte.creature span.manaCost
{
	top: 84px;
	left: 24px;
}
.carte.speciale span
{
	left: 22px;
}
.carte.speciale span.pv
{
	top: 15px;
}
.carte.speciale span.puissance
{
	top: 40px;
}
.carte.speciale span.manaCost
{
	top: 64px;
}

.zoom span
{
	font-size: 2rem;
}

.zoom.creature span.pv, .zoom.sort span.puissance
{
	top: 60px;
	left: 98px;
}
.zoom.creature span.puissance, .zoom.sort span.manaCost
{
	top: 108px;
	left: 62px;
}
.zoom.creature span.manaCost
{
	top: 168px;
	left: 48px;
}
.zoom.speciale span
{
	left: 44px;
}
.zoom.speciale span.pv
{
	top: 30px;
}
.zoom.speciale span.puissance
{
	top: 80px;
}
.zoom.speciale span.manaCost
{
	top: 128px;
}

.zoom_200 span
{
	font-size: 1.3rem;
}

.zoom_200.creature span.pv, .zoom_200.sort span.puissance
{
	top: 40px;
	left: 65px;
}
.zoom_200.creature span.puissance, .zoom_200.sort span.manaCost
{
	top: 72px;
	left: 41px;
}
.zoom_200.creature span.manaCost
{
	top: 112px;
	left: 32px;
}
.zoom_200.speciale span
{
	left: 30px;
}
.zoom_200.speciale span.pv
{
	top: 22px;
}
.zoom_200.speciale span.puissance
{
	top: 54px;
}
.zoom_200.speciale span.manaCost
{
	top: 86px;
}

/************************************Animations*********************************/

@keyframes fadeIn
{
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}

@keyframes oscillate_3
{
  0%
  {
    transform: rotate(0deg);
  }
  25%
  {
    transform: rotate(3deg);
  }
  75%
  {
    transform: rotate(-3deg);
  }
  100%
  {
     transform: rotate(0deg);
  }
}

@keyframes oscillate_5
{
  0%
  {
    transform: rotate(0deg);
  }
  25%
  {
    transform: rotate(5deg);
  }
  75%
  {
    transform: rotate(-5deg);
  }
  100%
  {
     transform: rotate(0deg);
  }
}

@keyframes oscillate_10
{
  0%
  {
    transform: rotate(0deg);
  }
  25%
  {
    transform: rotate(10deg);
  }
  75%
  {
    transform: rotate(-10deg);
  }
  100%
  {
     transform: rotate(0deg);
  }
}

/****************************** Responsive ******************************/

@media (max-width: 1200px)
{
	#cartes
	{
		left: 2vw;
		width: 96vw;
		height: 70vh;
	}
	#filter
	{
		bottom: 75vh;
		left: 2vw;
		width: 96vw;
		height: 10vh;
		min-height: 70px;
		flex-direction: row;
		align-items: center;
		padding: 5px;
	}
	#team
	{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.btn
	{
		width: 10vw;
		min-width: 120px;
		border: solid 3px white;
		padding: 5px;
	}
	.btn, #type img
	{
		margin: 0 1vw;
	}
	#type img
	{
		width: 6vh;
		height: 6vh;
	}
	#mana li
	{
		margin: 0 0.5vw;
	}
	#filter hr
	{
		width: 1px;
		height: 50px;
	}
}
@media (max-width: 800px)
{
	header h1
	{
		right: 0;
	}
	header nav
	{
		left: 0;
	}
	header nav, header h1
	{
		font-size: 1rem;
		min-width: 200px;
	}
	article
	{
		font-size: 0.9em;
		padding: 20px;
		width: 100%;
	}

	#logoNeozorus
	{
		height: 75px;
	}
	#filter
	{
		font-size: 0.9rem;
		min-height: 60px;
	}
	.btn
	{
		border-width: 2px;
		min-width: 100px;
	}
	#mana img
	{
		width: 17px;
	}
	#cartes
	{
		padding: 5px;
	}
}
@media (max-width: 600px)
{
	article
	{
		margin: 0 0 10vh 0;
		width: 100%;
	}
	#logoNeozorus
	{
		display: none;
	}
}

@media (max-height: 650px) and (max-width: 800px)
{
	#filter
	{
		font-size: 0.9rem;
		min-height: 60px;
		bottom: 70vh;
	}
	.btn
	{
		border-width: 2px;
		min-width: 100px;
	}
	#mana img
	{
		width: 17px;
	}
	#cartes
	{
		height: 65vh;
		padding: 5px;
	}
}

@media (max-height: 500px) and (max-width: 800px)
{
	header nav, header h1
	{
		font-size: 1rem;
		min-width: 200px;
	}
	article
	{
		font-size: 0.9em;
		padding: 20px;
		width: 100%;
	}

	#logoNeozorus
	{
		height: 75px;
	}
	#filter, #cartes
	{
		left: 0;
		width: 100vw;
	}
	#cartes
	{
		bottom: 0;
		height: 67vh;
	}
	#filter
	{
		bottom: 67vh;
		font-size: 0.8em;
		min-height: 50px;
	}
	#filter hr
	{
		height: 40px;
	}
	.btn
	{
		min-width: 90px;
	}
	#type img
	{
		min-width: 35px;
		min-height: 35px;
	}
	#mana img
	{
		width: 15px;
	}
}

@media (max-height: 350px) and (max-width: 800px)
{
	#logoNeozorus
	{
		display: none;
	}
	article
	{
		top: 60vh;
	}
	#cartes
	{
		height: 75vh;
		width: 60vw;
	}
	#filter
	{
		bottom: 0;
		height: 75vh;
		left: 60vw;
		width: 40vw;
		flex-direction: column;
	}
	#filter hr
	{
		width: 25vw;
		height: 1px;
	}
}
