/* CSS PAGE HOME DU JEU DE CARTE NEOZORUS */

/* LES COMMUNS */
@font-face{
    font-family: 'army_rangers';
    src:url('../font/army_rangers/armyrangers.ttf');
  }

  @font-face{
    font-family: 'fira_code';
    src:url('../font/fira-code/FiraCode-Medium.otf');
  }
  body{
    margin: 0;
    font-size: 15px;
    font-family: 'fira_code',Verdana;
    background-image:url('../img/fond_mixte.png');

  }

  body *{
    box-sizing: border-box;
  }
  
  a{
    text-decoration: none;
  }

#menu_jouer {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 180px;
}
#menu_jouer ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menu_jouer li {
   background-color:black; 
   border-radius: 6px;
   margin-bottom:2px;
   border:solid 1px #bdd002
}
#menu_jouer li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0
}
#menu_jouer a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: "fira_code", Verdana;
  font-size:1.2em
}
#menu_jouer ul li a, #menu_jouer li:hover li a {
  font-size:1em
}
#menu_jouer li:hover {
   background: black;
}
#menu_jouer li li:hover {
   background: #999;
}
#menu_jouer ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu_jouer li:hover li {
  max-height: 15em;
}
#menu_jouer {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 180px;
}
#menu_jouer ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}

/*vISUEL DE 'menu' */
#menu_jouer li {
   background-color:black; 
   border-radius: 6px;
   margin-bottom:2px;
   border:solid 1px #8cbe22;
}
#menu_jouer li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #333;
   box-shadow: none;
   border:none;
   margin:0
}
#menu_jouer a {
  display:block;
  text-decoration: none;
  color: #8cbe22;
  padding: 8px 0;
  font-family: "fira_code", Verdana;
  font-size:1.2em
}
#menu_jouer ul li a, #menu_jouer li:hover li a {
  font-size:1em
}
#menu_jouer li:hover {
   background: rgba(0,0,0,0.7);
}
#menu_jouer li li:hover {
   background: rgba(0,0,0,0.7);
}
#menu_jouer ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu_jouer li:hover li {
  max-height: 15em;
}
.bloc_menu{
  position: fixed;
  width: 11%;
  margin: 10px 0 0 10px;

}
/***************************************************************************************/
h1{
  text-align: center;
  font-family: 'godzilla';
  font-size: 70px;
  margin:20px 0px;
  text-shadow: 3px 3px 3px #E41F2D ;
  color:white;
}

#conteneur{
  margin:150px auto 20px auto;
  padding: 40px 0px;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.80);
}

#tab{
  width: 100%;
}

#tab th, #tab .tdValue , #tab .tdButton{
  color: #16E62A;
  font-family: "fira_code";
  font-size: 25px;
  padding: 10px 0px;
}

#tab th{
  text-align: left;
  width: 30%;
  padding-left:20px;
}

#tab .tdValue{
  text-align: center;
  width: 50%;

}

#tab .tdButton{
  width: 20%;
  text-align: right;
  padding-right: 50px;
}

.circle{
  position: relative;
  left: 10px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  outline: none;
  background-color: #16E62A;
}

input{
  position: relative;
  background-color: black;
  color:#16E62A;
  font-family: 'fira_code';
  font-size: 20px;
  text-align: center;
  outline: none;
  border-radius: 10%;
  background-color: black;
  width: 100%;
  height: 35px;
}
/******************************************************************************************************/
#bottomMenu{
  margin:10px auto;
  padding: 20px 0px;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.80);
  height: 300px;
}

#tab2{
  width: 100%;
  height: 100%;
}

#tab2 th, #tab2 td{
  padding: 20px 10px;
}

#tab2 th{
  width: 15%;
  height: 50%;
}

#tab2 td{
  width: 85%
}

#tableDynamique th{
  width:20%;
}
#tableDynamique td{
  width:50%;
}
#bigButton{
  text-align: center;
}
#bigButton button{
  width: 150px;
  height: 150px;
}
#tableDynamique2 th,#tableDynamique2 td{
  padding:10px;
}
#tableDynamique2 th{
  width:20%;
}
#tableDynamique2 td{
  width:50%;
}

#tableDynamique th, #tableDynamique2 th{
  color: #16E62A;
  font-family: "fira_code";
  font-size: 20px;
  padding: 10px 0px;
}

#passwordButton, #questionButton{
  background-color: black;
  color:#16E62A;
  outline: none;
}

.popMessage{
  padding: 20px 20px;
  z-index: 100;
  position: fixed;
  top:400px;
  left:40%;
  background-color: black;
  font-size: 45px;
  color:#16E62A;
  text-align: center;
}
