@font-face
		{
			font-family: 'army_rangers';
			src:url('../font/army_rangers/armyrangers.ttf');
		}

@font-face
{
	font-family: 'fira_code';
	src:url('../font/fira-code/FiraCode-Medium.otf');
}

@font-face
{
	font-family: 'godzilla';
	src:url('../font/army_rangers/Godzilla.ttf');
}

.dinotheme{
	background-image: url("../img/background_jungle.jpg");
}

.matrixtheme{
	background-image: url("../img/background_matrix.jpg");
}
body, a, a:visited{
	color:white;
}
#container{
	width: 100%;
	display: flex;
}
.affichageMenu{
	width: 35%;
}
.mesGabarits img{
	width: 150px;
}

