		@font-face
		{
			font-family: 'army_rangers';
			src:url('../font/army_rangers/armyrangers.ttf');
		}

		@font-face
		{
			font-family: 'fira_code';
			src:url('../font/fira-code/FiraCode-Medium.otf');
		}

		@font-face
		{
			font-family: 'godzilla';
			src:url('../font/godzilla/Godzilla.ttf');
		}

		body
		{
			margin: 0;
			overflow: hidden;
			background-color: white;
			font-size: 15px;
		}

		body *
		{
			box-sizing: border-box;
		}
		
		a, a:visited{
		color:white;
		text-decoration: none;
		font-size: 20px;
		}
/****************************** Background ******************************/

		.haut_bas
		{
			width: 10000px;
			height: 10000px;
			position: absolute;	
			overflow: hidden;	
			background-clip: padding-box;	
		}
		#haut
		{
			background-color: lightgreen;
			transform-origin: 0 100%;
			bottom: 0;		
			left: 0;
			border-bottom: 1vh solid white;
		}
		#bas
		{
			background-color: lightblue;
			transform-origin: 100% 0;
			top: 0;
			right: 0;
			border-top: 1vh solid white;
			
		}
		#imageHaut
		{
			position: absolute;
			bottom: 0;
			left: 0;
			transform-origin: 0 100%;
		}
		#imageBas
		{
			position: absolute;
			top: 0;
			right: 0;
			transform-origin: 100% 0;
		}

/****************************** Boutons et logo ******************************/

		#logo
		{
			margin: 50vh auto 0 auto;
			transform: translateY(-50%);
			text-align: center;
		}
		#choisirHero
		{
			color:white;
			font-size: 60px;
			text-shadow: 5px 0px 10px black;
			/* font-family: "fira_code", Verdana; */
			font-family: 'army_rangers';

		}

		.PV{
			position: absolute;
			font-family:'godzilla';
			font-size: 24px;
			z-index: 100;
			left: 43px;
			top: 66px;
		}

		#logo *
		{
			margin: 2vh auto;
		}
		.btn
		{
			position: relative;
			color: white;
			/*width: 11vw;*/
			width: 212px;
			/*min-width: 130px;*/
			cursor: pointer;
		}

		.avatar{
			width: 100%;
		}

/****************************** Page CHoixHero ******************************/

		main
		{
			position: absolute;
			bottom: 0;
			width: 100vw;
			font-family: "fira_code", Verdana;
			z-index: 1;
			animation: fadeIn;
			animation-duration: 2s;
		}
		
		article
		{
			width: 50vw;
			max-height: 40vh;
			overflow: auto;
			margin: 0 25vw 20vh 25vw;
			padding: 20px;
			text-align: center;
			background-color: rgba(0,0,0,0.7);
			color: rgb(194,210,1);
			font-size: 2.5vh;
		}

		form
		{
			width: 40vw;
			min-width: 440px;
			margin: 5vh auto;
			font-size: 0;
		}

		input
		{
			font-family: "fira_code", Verdana;
			font-size: 2.5vh;
			height: 5vh;
		}

		input:nth-child(1) 
		{
			width: 55%;
			color: #c2d201;
			margin-right: 5%;
		}

		input:nth-child(2) 
		{
			width: 40%;
			color: white;
			background-color: #326a2b;
			border: solid 3px #c8d419;
			border-radius: 5px;
			cursor: pointer;
		}

		ul
		{
			list-style-type: none;
			padding: 0;
			font-size: 0;
		}

		.links
		{
			width: 25vw;
			min-width: 275px;
			margin: 3vh auto;
		}
		.links li
		{
			display: inline-block;
			width: 33%;
		}
		.links li img
		{
			display: block;
			margin: auto;
			width: 7vh;
		}

		@keyframes fadeIn
		{
			0%
			{
				opacity: 0;
			}
			100%
			{
				opacity: 1;
			}
		}

		

/****************************** Page Dinos ******************************/

		#page_dinos input:nth-child(1) 
		{
			color: #c2d201;
		}

		#page_dinos ::-moz-placeholder {color: #c2d201;} /* Firefox 19+ */
		#page_dinos :-moz-placeholder {color: #c2d201;} /* Firefox 18- */
		#page_dinos ::-webkit-input-placeholder {color: #c2d201;} /* Chrome/Opera/Safari */
		#page_dinos :-ms-input-placeholder {color: #c2d201;} /* IE 10+ */


		#page_dinos input:nth-child(2) 
		{
			background-color: #326a2b;
			border: solid 3px #c8d419;
			border-radius: 5px;
		}

		
/****************************** Page Matrix ******************************/

		#page_matrix input:nth-child(1) 
		{
			color: #39b54a;
		}
		#page_matrix ::-moz-placeholder {color: #39b54a;} /* Firefox 19+ */
		#page_matrix :-moz-placeholder {color: #39b54a;} /* Firefox 18- */
		#page_matrix ::-webkit-input-placeholder {color: #39b54a;} /* Chrome/Opera/Safari */
		#page_matrix :-ms-input-placeholder {color: #39b54a;} /* IE 10+ */

		#page_matrix input:nth-child(2) 
		{
			background-color: #131313;
			border: solid 3px #95c11f;
			border-radius: 5px;
		}

/****************************** Responsive ******************************/


		@media (max-height: 800px) {
			.PV{
				font-size: 24px;
				left: 27px;
				top: 43px;
			}

			.btn
			{
				width: 150px;
			}

		}
/*********************************************************************************************/
#menu_jouer {
	padding:0;
	margin:0;
	list-style:none;
	text-align: center;
	width: 180px;
}

#menu_jouer ul {
	padding:0;
	margin:0;
	list-style:none;
	text-align: center;
	width: 100%;
}

#menu_jouer li {
	font-size: 16px;
   background-color:black; 
   border-radius: 6px;
   margin-bottom:2px;
   border:solid 1px #bdd002;
}
#menu_jouer li li {
	max-height:0;
	overflow: hidden;
	transition: all .5s;
	border-radius:0;
	background: #444;
	box-shadow: none;
	border:none;
	margin:0;
}
#menu_jouer a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: "fira_code", Verdana;
  font-size:1.2em
}
#menu_jouer ul li a, #menu_jouer li:hover li a {
  font-size:1em
}
#menu_jouer li:hover {
   background: black;
}
#menu_jouer li li:hover {
   background: #999;
}
#menu_jouer ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu_jouer li:hover li {
  max-height: 15em;
}
#menu_jouer {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 180px;
}
#menu_jouer ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}

/*vISUEL DE 'menu' */
#menu_jouer li {
   background-color:black; 
   border-radius: 6px;
   margin-bottom:2px;
   border:solid 1px #8cbe22;
}
#menu_jouer li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #333;
   box-shadow: none;
   border:none;
   margin:0
}
#menu_jouer a {
  display:block;
  text-decoration: none;
  color: #8cbe22;
  padding: 8px 0;
  font-family: "fira_code", Verdana;
  font-size:1.2em
}
#menu_jouer ul li a, #menu_jouer li:hover li a {
  font-size:1em
}
#menu_jouer li:hover {
   background: rgba(0,0,0,0.7);
}
#menu_jouer li li:hover {
   background: rgba(0,0,0,0.7);
}
#menu_jouer ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu_jouer li:hover li {
  max-height: 15em;
}
.bloc_menu{ 
	z-index:10;
	position: fixed;
	top: 10px;
	left: 30px;
 	width: 11%;
 	margin: 10px 0 0 10px;
}