*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@font-face
{
	font-family: 'army_rangers';
	src:url('../font/army_rangers/armyrangers.ttf');
}

@font-face
{
	font-family: 'fira_code';
	src:url('../font/fira-code/FiraCode-Medium.otf');
}

@font-face
{
	font-family: 'godzilla';
	src:url('../font/army_rangers/Godzilla.ttf');
}



.dinotheme{
	background-image: url("../img/background_jungle.jpg");
}

.matrixtheme{
	background-image: url("../img/background_matrix.jpg");
}

header{
	width: 100%;
	height: 200px;
	display: block;

	color: white;
}
.affichageCarte{
	width: 60%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.affichageMenu{
	width: 35%;
}
.mesGabarits{
	margin: 10px 10px;
}

.mesGabarits img{
	width: 150px;
}

.PuissanceCarteSortCreature{
	position: relative;
	z-index: 3;
	font-family: 'army_rangers';
	top: -167px;
	left:-105px;
}

.PuissanceCarteSpeciale{
	position: relative;
	z-index: 3;
	font-family: 'army_rangers';
	top: -180px;
	left:-132px;
}

.ManaSortOuVitaCreature{
	position: relative;
	z-index: 3;
	font-family: 'army_rangers';
	top: -142px;
	left:-129px;
}

.VitaCarteSpeciale{
	position: relative;
	z-index: 3;
	font-family: 'army_rangers';
	top: -155px;
	left:-139px;
}

.ManaCarteCreature{
	position: relative;
	z-index: 3;
	font-family: 'army_rangers';
	top: -112px;
	left:-144px;
}
.ManaCarteSpeciale{
	position: relative;
	z-index: 3;
	font-family: 'army_rangers';
	top: -132px;
	left:-144px;
}
/* HEADER */
header{
	width: 100%;
}
/*MENU HAUT GAUCHE */

#menu_jouer {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 180px;
}
#menu_jouer ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menu_jouer li {
   background-color:black; 
   border-radius: 6px;
   margin-bottom:2px;
   border:solid 1px #bdd002
}
#menu_jouer li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0
}
#menu_jouer a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: "fira_code", Verdana;
  font-size:1.2em
}
#menu_jouer ul li a, #menu_jouer li:hover li a {
  font-size:1em
}
#menu_jouer li:hover {
   background: black;
}
#menu_jouer li li:hover {
   background: #999;
}
#menu_jouer ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu_jouer li:hover li {
  max-height: 15em;
}
#menu_jouer {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 180px;
}
#menu_jouer ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}

#menu_jouer li {
   background-color:black; 
   border-radius: 6px;
   margin-bottom:2px;
   border:solid 1px #8cbe22;
}
#menu_jouer li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #333;
   box-shadow: none;
   border:none;
   margin:0
}
#menu_jouer a {
  display:block;
  text-decoration: none;
  color: #8cbe22;
  padding: 8px 0;
  font-family: "fira_code", Verdana;
  font-size:1.2em
}
#menu_jouer ul li a, #menu_jouer li:hover li a {
  font-size:1em
}
#menu_jouer li:hover {
   background: rgba(0,0,0,0.7);
}
#menu_jouer li li:hover {
   background: rgba(0,0,0,0.7);
}
#menu_jouer ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu_jouer li:hover li {
  max-height: 15em;
}
.bloc_menu{
	float:left;
	width: 11%;
  position: fixed;
	margin: 10px 0 0 10px;

}


/* HEADER LISTE DECKS */


#headerDecks {

	display:block;
	text-align: center;
	width: 900px;
	height: 450px;
	margin: 0 auto;

}
#logo {
	
	margin-right: 30px;
}
#action {

	display:block;
	text-align: center;
	padding-top:40px;
	justify-content: space-around;
}

/* IMAGE DU HEROS ANIMEE */

#imageHeros{
	width: 170px;
	display:inline-block;
}
#imageHeros img {
	width: 165.6px;
	height: 240px;
  position: relative;
  top: 0;
  transition: all 0.3s ease-in;
}
.anime:hover { 
  background-image: url(/css/images/logo.png); 
  background-repeat: no-repeat;
  background-position: left top; 
  -webkit-animation-duration: 1s;
  animation-duration: 1.1s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
}

@-webkit-keyframes rebond { 
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
  40% {-webkit-transform: translateY(-40px);} 
  60% {-webkit-transform: translateY(-20px);} 
} 

@keyframes rebond { 
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-40px);} 
  60% {transform: translateY(-20px);} 
}

.rebond:hover {  
  animation-name: rebond; 
}


#creer, #modifier {
	display:inline-block;
	font-family: 'army_rangers', Verdana;
	font-size: 2.5em;
}

#creer a, #modifier a {

	text-decoration: none; 
	color: white;
}

.decksExistants {

	display:block;	
	margin: 40px 60px 0 0;
	font-family: 'army_rangers', Verdana;
	font-size: 3em;
	color: rgb(194,210,1); 

}


#creer p:hover, #modifier p:hover { 
	color:red; 
	text-shadow: 1px 1px 1px white ;
}

/*CSS DE LA LISTE DES DECKS*/

article{
	position:relative;
	width: 50vw;
  max-height: 340vh;
	margin: 0 25vw 2vh 23vw;
	padding: 10px;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
	color: rgb(194,210,1);
	font-size: 2.5vh;
	margin-top: 230px;
	display: inline-block;
	
}
 /* DIV DECK */
.all{
	display: inline-block;
}
.horizon1, .horizon2, .horizon3{
	display: inline-block;
}
#hover {
  color: rgba(188, 175, 204, 0.9);
}
.nomdeck p{
	font-family: 'fira_code';
	padding: 5px 0 0 13px;
	text-transform: uppercase;
	font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.4em;

}

/* CSS BASIQUE DE LA LISTE */

.view {
  margin: 30px;
  float: left;
  border: 3px solid black;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 2px 2px 2px black;
  border-radius: 7px;
  cursor: default;
  box-sizing: border-box;

}
.view .mask,.view .content {
  width: 200px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.view img {
  float: left;
  position: relative;

}
.view a.info {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  padding: 4px 7px;
  background-color: rgba(0,0,0,0.7);
  color: rgb(194,210,1);
  font-size: 10px;
  font-family: 'fira_code';
  font-weight: bold;
  box-shadow: 0 0 1px #000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.view a.info:hover {
  box-shadow: 0 0 5px #000;
}

/* LES TRANSITIONS */

.view-first img {

  transition: all 0.5s linear;
  width: 200px;
  height: 200px;
}
.view-first .mask {
  opacity: 0;
  background-color: rgba(16, 24, 42, 0.6);
  transition: all 0.4s ease-in-out;
}
.view-first a.info {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/* ANIMATION DES CASES EN HOVER */

.view-first:hover img {
  transform: scale(1.4);
}

.view-first:hover .mask {
  opacity: 1;
}
.view:hover{
  border: 3px solid rgb(194,210,1);
  box-shadow: 0px 1px 2px rgb(194,210,1);
}
.view-first:hover a.info {
  opacity: 1;
  transform: translateY(140px);
}
.view-first:hover a.info {
  transition-delay: 0.2s;
}

